*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #00749E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.quiz-game{
    background: white;
    width: 400px;
    border-radius: 15px;
}
.quiz-game>h1{
    text-align: center;
    margin: 10px;
    border-bottom: 1px solid #00749E;
    padding-bottom: 20px;
}
.question{
    margin-top: 10px;
    /* padding-bottom: 20px; */
    margin: 20px;
}
.btn{
    width: 90%;
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid grey;
    background-color: white;
    text-align: left;
    border-radius: 5px;
    font-size: 18px;
}
.btn:hover{
    background-color: #00749E;
    color: white;
}
#next-btn{
    background-color: #00749E;
    color: white;
    padding: .5rem 3rem;
    border: none;
    
    display: block;
    margin: 0% auto;
    margin-bottom: 10px;
}